.pageWrap .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: .5rem;
}
.pageWrap .col {
    width: 50%;
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
}
.pageWrap h4 {
    margin: .4rem auto;
}
.pageWrap .box {
    /* background: #efefef; */
    margin: auto;
}
.pageWrap .row img {
    display: block;
    background: #eee;
}
.fakeImg {
    width: 100%;
    height: auto;
    border-radius: .3rem;
}
.fakeTitle {
    width: 100%;
    height: 1.2rem;
    margin: .5rem auto;
}
.fakeText {
    width: 100%;
    height: 3rem;
}